<!-- Start Breadcrumbs -->
<app-breadcrumbs title="Bandeja de Pedidos" [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>
<!-- End Breadcrumbs -->

<div class="row">
  <div class="col-lg-12">
    <div class="card" id="orderList">
      <div class="card-header border-0">

        <form [formGroup]="form" class="row g-2 mb-3">
          <div class="col-xxl-4 col-sm-12">
            <label for="iconInput" class="form-label">Código</label>
            <div class="form-icon">
              <input type="text" class="form-control form-control-icon" placeholder="Buscar por código"
                formControlName="code"
                (input)="ValidatorUtil.onInputValidate(code,[Constants.REGEX_NOT_START_BLANK],100)"
                (paste)="ValidatorUtil.onPasteValidate($event,code,[Constants.REGEX_NOT_START_BLANK],100)">
              <i class="ri-search-line search-icon"></i>
            </div>
          </div>

          <div class="col-xxl-4 col-sm-12">
            <label for="iconInput" class="form-label">Nombre cliente</label>
            <div class="form-icon">
              <input type="text" class="form-control form-control-icon" placeholder="Buscar por nombre del cliente"
                formControlName="clientfullname"
                (input)="ValidatorUtil.onInputValidate(client,[Constants.REGEX_NOT_START_BLANK],100)"
                (paste)="ValidatorUtil.onPasteValidate($event,client,[Constants.REGEX_NOT_START_BLANK],100)">
              <i class="ri-search-line search-icon"></i>
            </div>
          </div>

          <div class="col-xxl-4 col-sm-12">
            <label for="iconInput" class="form-label">Estado</label>
            <div class="form-icon">

              <select cl class="form-control form-control-icon" formControlName="status">
                @for (item of stateList; track $index){
                <option [value]="item.id">{{item.name}}</option>
                }

              </select>
              <i class="ri-search-line search-icon"></i>
            </div>
          </div>

          <!--end row-->
        </form>

        <div class="d-flex align-items-center">
          <h4 class="card-title mb-0 flex-grow-1">Lista</h4>
          <div class="flex-shrink-0 d-flex gap-2 flex-wrap">
            <a class="btn btn-danger" (click)="clear()">
              <i class="ri-delete-bin-2-line align-bottom me-1"></i>
              Limpiar filtros
            </a>
            <a class="btn btn-primary" (click)="getData()">
              <i class="ri-equalizer-fill align-bottom me-1"></i>
              Aplicar filtros
            </a>
          </div>
        </div>
      </div>

      <div class="card-body pt-0">
        <div>
          <!-- Nav tabs -->
          <ul ngbNav #nav="ngbNav" [activeId]="1" (navChange)="onNavChange($event)"
            class="nav nav-tabs nav-tabs-custom nav-success mb-3">
            <li [ngbNavItem]="1">
              <a ngbNavLink>
                <i class="ri-store-2-fill me-1 align-bottom"></i> Todos los pedidos
              </a>
              <ng-template ngbNavContent>

                @if(isLoader){
                <ngx-skeleton-loader count="5" appearance="line" />
                }@else{
                <div class="table-responsive table-card mb-0">
                  <table class="table">
                    <thead>
                      <tr class="bg-light text-muted text-uppercase">

                        <th class="sort" (click)="onSort('code')">
                          Código
                        </th>
                        <th class="sort" (click)="onSort('datecreate')">
                          Fecha de registro
                        </th>
                        <th class="sort" (click)="onSort('clientfullname')">
                          Cliente
                        </th>
                        <th class="sort" (click)="onSort('igv')">
                          IGV
                        </th>
                        <th class="sort" (click)="onSort('subtotal')">
                          Subtotal
                        </th>
                        <th class="sort" (click)="onSort('total')">
                          Total
                        </th>

                        <th class="sort" (click)="onSort('payment')">
                          Payment Method
                        </th>
                        <th class="sort" (click)="onSort('status')">
                          Delivery Status
                        </th>
                        <th class="sort">Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      @for (data of allorderes; track $index) {
                      <tr id="o_{{ data.id }}">
                        <td>
                          <a [routerLink]="getPathNavigateView(data.id)">
                            <ngb-highlight [result]="data.code" [term]="searchTerm"></ngb-highlight>
                          </a>
                        </td>
                        <td>
                          <ngb-highlight [result]="data.datecreate" [term]="searchTerm"></ngb-highlight>
                        </td>
                        <td>
                          {{data.clientfullname}}
                        </td>
                        <td>
                          {{data.subtotal | number:'1.2-2'}}
                        </td>
                        <td>
                          {{data.igv | number:'1.2-2'}}
                        </td>
                        <td>
                          {{data.total | number:'1.2-2'}}
                        </td>
                        <td>
                          {{data.datedelivery}}
                        </td>
                        <td class="status">
                          <span class="badge text-uppercase" [ngClass]="{
                              'bg-warning-subtle text-warning':
                                data.stateId === Constants.STATE_ORDER_PREPARING_SHIPMENT,
                              'bg-danger-subtle text-danger':
                                data.stateId === 'Cancelled',
                              'bg-secondary-subtle text-secondary':
                                data.stateId === 'Inprogress',
                              'bg-info-subtle text-info':
                                data.stateId === 'Pickups',
                              'bg-primary-subtle text-primary':
                                data.stateId === 'Returns',
                              'bg-success-subtle text-success':
                                data.stateId === 'Delivered'
                            }">{{ data.stateName }}</span>
                        </td>
                        <td>
                          <ul class="list-inline hstack gap-2 mb-0">
                            <li class="list-inline-item" data-bs-toggle="tooltip" data-bs-trigger="hover"
                              ngbTooltip="Ver" placement="top">
                              <a [routerLink]="getPathNavigateView(data.id)" class="text-primary d-inline-block">
                                <i class="ri-eye-fill fs-16"></i>
                              </a>
                            </li>
                            <li class="list-inline-item edit" data-bs-toggle="tooltip" data-bs-trigger="hover"
                              ngbTooltip="Edit" placement="top">
                              <a href="javascript:void(0);" data-bs-toggle="modal"
                                class="text-primary d-inline-block edit-item-btn" data-bs-toggle="modal" id="create-btn"
                                data-bs-target="#showModal">
                                <i class="ri-pencil-fill fs-16"></i>
                              </a>
                            </li>
                            <li class="list-inline-item me-0" ngbTooltip="Remove" placement="top"
                              data-bs-toggle="tooltip" data-bs-trigger="hover">
                              <a class="text-danger d-inline-block remove-item-btn" data-bs-toggle="modal"
                                data-bs-target="#deleteOrder">
                                <i class="ri-delete-bin-5-fill fs-16"></i>
                              </a>
                            </li>
                          </ul>
                        </td>
                      </tr>
                      }
                    </tbody>
                  </table>
                </div>
                <div class="row justify-content-md-between align-items-md-center gy-2">
                  <div class="col col-sm-6">
                    <div class="dataTables_info mb-2" id="tickets-table_info" role="status" aria-live="polite">
                      Mostrando
                      {{ service.startIndex }} a {{ service.endIndex }} de
                      {{ allorderes.length }}
                      entradas
                    </div>
                  </div>
                  <!-- Pagination -->
                  <div class="col col-sm-6">
                    <div class="text-sm-right float-end listjs-pagination">
                      <ngb-pagination [collectionSize]="allorderes.length" [(page)]="service.page"
                        [pageSize]="service.pageSize" (pageChange)="changePage()">
                      </ngb-pagination>
                    </div>
                  </div>
                  <!-- End Pagination -->
                </div>
                }
              </ng-template>
            </li>
            <li [ngbNavItem]="2">
              <a ngbNavLink>
                <i class="ri-checkbox-circle-line me-1 align-bottom"></i>
                Delivered
              </a>
              <ng-template ngbNavContent>
                <div class="table-responsive table-card mb-0">
                  <table class="table">
                    <thead>
                      <tr class="bg-light text-muted text-uppercase">

                        <th class="sort" (click)="onSort('orderId')">
                          Order ID
                        </th>
                        <th class="sort" (click)="onSort('customer')">
                          Customer
                        </th>
                        <th class="sort" (click)="onSort('product')">
                          Product
                        </th>
                        <th class="sort" (click)="onSort('orderDate')">
                          Order Date
                        </th>
                        <th class="sort" (click)="onSort('amount')">Amount</th>
                        <th class="sort" (click)="onSort('payment')">
                          Payment Method
                        </th>
                        <th class="sort" (click)="onSort('status')">
                          Delivery Status
                        </th>
                        <th class="sort">Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      @for (data of orderes; track $index) {
                      <tr>

                        <td>
                          <a routerLink="/ecommerce/order-details">
                            <ngb-highlight [result]="data.orderId" [term]="searchTerm"></ngb-highlight>
                          </a>
                        </td>
                        <td>
                          <ngb-highlight [result]="data.customer" [term]="searchTerm"></ngb-highlight>
                        </td>
                        <td>
                          <ngb-highlight [result]="data.product" [term]="searchTerm"></ngb-highlight>
                        </td>
                        <td>
                          <ngb-highlight [result]="data.orderDate | date : 'longDate'" [term]="searchTerm">
                          </ngb-highlight>
                        </td>
                        <td>
                          <ngb-highlight [result]="data.amount" [term]="searchTerm"></ngb-highlight>
                        </td>
                        <td>
                          <ngb-highlight [result]="data.payment" [term]="searchTerm"></ngb-highlight>
                        </td>
                        <td class="status">
                          <span class="badge text-uppercase" [ngClass]="{
                              'bg-warning-subtle text-warning':
                                data.status === 'Pending',
                              'bg-danger-subtle text-danger':
                                data.status === 'Cancelled',
                              'bg-secondary-subtle text-secondary':
                                data.status === 'Inprogress',
                              'bg-info-subtle text-info':
                                data.status === 'Pickups',
                              'bg-primary-subtle text-primary':
                                data.status === 'Returns',
                              'bg-success-subtle text-success':
                                data.status === 'Delivered'
                            }">{{ data.status }}</span>
                        </td>
                        <td>
                          <ul class="list-inline hstack gap-2 mb-0">
                            <li class="list-inline-item" data-bs-toggle="tooltip" data-bs-trigger="hover"
                              ngbTooltip="View" placement="top">
                              <a routerLink="/ecommerce/order-details" class="text-primary d-inline-block">
                                <i class="ri-eye-fill fs-16"></i>
                              </a>
                            </li>
                            <li class="list-inline-item edit" data-bs-toggle="tooltip" data-bs-trigger="hover"
                              ngbTooltip="Edit" placement="top">
                              <a href="javascript:void(0);" data-bs-toggle="modal"
                                class="text-primary d-inline-block edit-item-btn" data-bs-toggle="modal" id="create-btn"
                                data-bs-target="#showModal">
                                <i class="ri-pencil-fill fs-16"></i>
                              </a>
                            </li>
                            <li class="list-inline-item" ngbTooltip="Remove" placement="top" data-bs-toggle="tooltip"
                              data-bs-trigger="hover">
                              <a class="text-danger d-inline-block remove-item-btn" data-bs-toggle="modal"
                                data-bs-target="#deleteOrder">
                                <i class="ri-delete-bin-5-fill fs-16"></i>
                              </a>
                            </li>
                          </ul>
                        </td>
                      </tr>
                      }
                    </tbody>
                  </table>
                </div>
                <div class="row justify-content-md-between align-items-md-center gy-2">
                  <div class="col col-sm-6">
                    <div class="dataTables_info mb-2" id="tickets-table_info" role="status" aria-live="polite">
                      Showing
                      {{ service.startIndex }} to {{ service.endIndex }} of
                      {{ allorderes.length }}
                      entries
                    </div>
                  </div>
                  <!-- Pagination -->
                  <div class="col col-sm-6">
                    <div class="text-sm-right float-end listjs-pagination">
                      <ngb-pagination [collectionSize]="allorderes.length" [(page)]="service.page"
                        [pageSize]="service.pageSize" (pageChange)="changePage()">
                      </ngb-pagination>
                    </div>
                  </div>
                  <!-- End Pagination -->
                </div>
              </ng-template>
            </li>
            <li [ngbNavItem]="3">
              <a ngbNavLink>
                <i class="ri-truck-line me-1 align-bottom"></i> Pickups
                <span class="badge bg-danger align-middle ms-1">{{
                  orderes?.length
                  }}</span>
              </a>
              <ng-template ngbNavContent>
                <div class="table-responsive">
                  <table class="table">
                    <thead>
                      <tr class="bg-light text-muted text-uppercase">

                        <th class="sort" (click)="onSort('orderId')">
                          Order ID
                        </th>
                        <th class="sort" (click)="onSort('customer')">
                          Customer
                        </th>
                        <th class="sort" (click)="onSort('product')">
                          Product
                        </th>
                        <th class="sort" (click)="onSort('orderDate')">
                          Order Date
                        </th>
                        <th class="sort" (click)="onSort('amount')">Amount</th>
                        <th class="sort" (click)="onSort('payment')">
                          Payment Method
                        </th>
                        <th class="sort" (click)="onSort('status')">
                          Delivery Status
                        </th>
                        <th class="sort">Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      @for (data of orderes; track $index) {
                      <tr>

                        <td>
                          <a routerLink="/ecommerce/order-details">
                            <ngb-highlight [result]="data.orderId" [term]="searchTerm"></ngb-highlight>
                          </a>
                        </td>
                        <td>
                          <ngb-highlight [result]="data.customer" [term]="searchTerm"></ngb-highlight>
                        </td>
                        <td>
                          <ngb-highlight [result]="data.product" [term]="searchTerm"></ngb-highlight>
                        </td>
                        <td>
                          <ngb-highlight [result]="data.orderDate | date : 'longDate'" [term]="searchTerm">
                          </ngb-highlight>
                        </td>
                        <td>
                          <ngb-highlight [result]="data.amount" [term]="searchTerm"></ngb-highlight>
                        </td>
                        <td>
                          <ngb-highlight [result]="data.payment" [term]="searchTerm"></ngb-highlight>
                        </td>
                        <td class="status">
                          <span class="badge text-uppercase" [ngClass]="{
                              'bg-warning-subtle text-warning':
                                data.status === 'Pending',
                              'bg-danger-subtle text-danger':
                                data.status === 'Cancelled',
                              'bg-secondary-subtle text-secondary':
                                data.status === 'Inprogress',
                              'bg-info-subtle text-info':
                                data.status === 'Pickups',
                              'bg-primary-subtle text-primary':
                                data.status === 'Returns',
                              'bg-success-subtle text-success':
                                data.status === 'Delivered'
                            }">{{ data.status }}</span>
                        </td>
                        <td>
                          <ul class="list-inline hstack gap-2 mb-0">
                            <li class="list-inline-item" data-bs-toggle="tooltip" data-bs-trigger="hover"
                              ngbTooltip="View" placement="top">
                              <a routerLink="/ecommerce/order-details" class="text-primary d-inline-block">
                                <i class="ri-eye-fill fs-16"></i>
                              </a>
                            </li>
                            <li class="list-inline-item edit" data-bs-toggle="tooltip" data-bs-trigger="hover"
                              ngbTooltip="Edit" placement="top">
                              <a href="javascript:void(0);" data-bs-toggle="modal"
                                class="text-primary d-inline-block edit-item-btn" data-bs-toggle="modal" id="create-btn"
                                data-bs-target="#showModal">
                                <i class="ri-pencil-fill fs-16"></i>
                              </a>
                            </li>
                            <li class="list-inline-item" ngbTooltip="Remove" placement="top" data-bs-toggle="tooltip"
                              data-bs-trigger="hover">
                              <a class="text-danger d-inline-block remove-item-btn" data-bs-toggle="modal"
                                data-bs-target="#deleteOrder">
                                <i class="ri-delete-bin-5-fill fs-16"></i>
                              </a>
                            </li>
                          </ul>
                        </td>
                      </tr>
                      }
                    </tbody>
                  </table>
                </div>
                <div class="row justify-content-md-between align-items-md-center gy-2">
                  <div class="col col-sm-6">
                    <div class="dataTables_info mb-2" id="tickets-table_info" role="status" aria-live="polite">
                      Showing
                      {{ service.startIndex }} to {{ service.endIndex }} of
                      {{ allorderes.length }}
                      entries
                    </div>
                  </div>
                  <!-- Pagination -->
                  <div class="col col-sm-6">
                    <div class="text-sm-right float-end listjs-pagination">
                      <ngb-pagination [collectionSize]="allorderes.length" [(page)]="service.page"
                        [pageSize]="service.pageSize" (pageChange)="changePage()">
                      </ngb-pagination>
                    </div>
                  </div>
                  <!-- End Pagination -->
                </div>
              </ng-template>
            </li>
            <li [ngbNavItem]="4">
              <a ngbNavLink>
                <i class="ri-arrow-left-right-fill me-1 align-bottom"></i>
                Returns
              </a>
              <ng-template ngbNavContent>
                <div class="table-responsive table-card mb-0">
                  <table class="table">
                    <thead>
                      <tr class="bg-light text-muted text-uppercase">

                        <th class="sort" (click)="onSort('orderId')">
                          Order ID
                        </th>
                        <th class="sort" (click)="onSort('customer')">
                          Customer
                        </th>
                        <th class="sort" (click)="onSort('product')">
                          Product
                        </th>
                        <th class="sort" (click)="onSort('orderDate')">
                          Order Date
                        </th>
                        <th class="sort" (click)="onSort('amount')">Amount</th>
                        <th class="sort" (click)="onSort('payment')">
                          Payment Method
                        </th>
                        <th class="sort" (click)="onSort('status')">
                          Delivery Status
                        </th>
                        <th class="sort">Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      @for (data of orderes; track $index) {
                      <tr>

                        <td>
                          <a routerLink="/ecommerce/order-details">
                            <ngb-highlight [result]="data.orderId" [term]="searchTerm"></ngb-highlight>
                          </a>
                        </td>
                        <td>
                          <ngb-highlight [result]="data.customer" [term]="searchTerm"></ngb-highlight>
                        </td>
                        <td>
                          <ngb-highlight [result]="data.product" [term]="searchTerm"></ngb-highlight>
                        </td>
                        <td>
                          <ngb-highlight [result]="data.orderDate | date : 'longDate'" [term]="searchTerm">
                          </ngb-highlight>
                        </td>
                        <td>
                          <ngb-highlight [result]="data.amount" [term]="searchTerm"></ngb-highlight>
                        </td>
                        <td>
                          <ngb-highlight [result]="data.payment" [term]="searchTerm"></ngb-highlight>
                        </td>
                        <td class="status">
                          <span class="badge text-uppercase" [ngClass]="{
                              'bg-warning-subtle text-warning':
                                data.status === 'Pending',
                              'bg-danger-subtle text-danger':
                                data.status === 'Cancelled',
                              'bg-secondary-subtle text-secondary':
                                data.status === 'Inprogress',
                              'bg-info-subtle text-info':
                                data.status === 'Pickups',
                              'bg-primary-subtle text-primary':
                                data.status === 'Returns',
                              'bg-success-subtle text-success':
                                data.status === 'Delivered'
                            }">{{ data.status }}</span>
                        </td>
                        <td>
                          <ul class="list-inline hstack gap-2 mb-0">
                            <li class="list-inline-item" data-bs-toggle="tooltip" data-bs-trigger="hover"
                              ngbTooltip="View" placement="top">
                              <a routerLink="/ecommerce/order-details" class="text-primary d-inline-block">
                                <i class="ri-eye-fill fs-16"></i>
                              </a>
                            </li>
                            <li class="list-inline-item edit" data-bs-toggle="tooltip" data-bs-trigger="hover"
                              ngbTooltip="Edit" placement="top">
                              <a href="javascript:void(0);" data-bs-toggle="modal"
                                class="text-primary d-inline-block edit-item-btn" data-bs-toggle="modal" id="create-btn"
                                data-bs-target="#showModal">
                                <i class="ri-pencil-fill fs-16"></i>
                              </a>
                            </li>
                            <li class="list-inline-item" ngbTooltip="Remove" placement="top" data-bs-toggle="tooltip"
                              data-bs-trigger="hover">
                              <a class="text-danger d-inline-block remove-item-btn" data-bs-toggle="modal"
                                data-bs-target="#deleteOrder">
                                <i class="ri-delete-bin-5-fill fs-16"></i>
                              </a>
                            </li>
                          </ul>
                        </td>
                      </tr>
                      }
                    </tbody>
                  </table>
                </div>
                <div class="row justify-content-md-between align-items-md-center gy-2">
                  <div class="col col-sm-6">
                    <div class="dataTables_info mb-2" id="tickets-table_info" role="status" aria-live="polite">
                      Showing
                      {{ service.startIndex }} to {{ service.endIndex }} of
                      {{ allorderes.length }}
                      entries
                    </div>
                  </div>
                  <!-- Pagination -->
                  <div class="col col-sm-6">
                    <div class="text-sm-right float-end listjs-pagination">
                      <ngb-pagination [collectionSize]="allorderes.length" [(page)]="service.page"
                        [pageSize]="service.pageSize" (pageChange)="changePage()">
                      </ngb-pagination>
                    </div>
                  </div>
                  <!-- End Pagination -->
                </div>
              </ng-template>
            </li>
            <li [ngbNavItem]="5">
              <a ngbNavLink>
                <i class="ri-close-circle-line me-1 align-bottom"></i> Cancelled
              </a>
              <ng-template ngbNavContent>
                <div class="table-responsive table-card mb-0">
                  <table class="table">
                    <thead>
                      <tr class="bg-light text-muted text-uppercase">

                        <th class="sort" (click)="onSort('orderId')">
                          Order ID
                        </th>
                        <th class="sort" (click)="onSort('customer')">
                          Customer
                        </th>
                        <th class="sort" (click)="onSort('product')">
                          Product
                        </th>
                        <th class="sort" (click)="onSort('orderDate')">
                          Order Date
                        </th>
                        <th class="sort" (click)="onSort('amount')">Amount</th>
                        <th class="sort" (click)="onSort('payment')">
                          Payment Method
                        </th>
                        <th class="sort" (click)="onSort('status')">
                          Delivery Status
                        </th>
                        <th class="sort">Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      @for (data of orderes; track $index) {
                      <tr>

                        <td>
                          <a routerLink="/ecommerce/order-details">
                            <ngb-highlight [result]="data.orderId" [term]="searchTerm"></ngb-highlight>
                          </a>
                        </td>
                        <td>
                          <ngb-highlight [result]="data.customer" [term]="searchTerm"></ngb-highlight>
                        </td>
                        <td>
                          <ngb-highlight [result]="data.product" [term]="searchTerm"></ngb-highlight>
                        </td>
                        <td>
                          <ngb-highlight [result]="data.orderDate | date : 'longDate'" [term]="searchTerm">
                          </ngb-highlight>
                        </td>
                        <td>
                          <ngb-highlight [result]="data.amount" [term]="searchTerm"></ngb-highlight>
                        </td>
                        <td>
                          <ngb-highlight [result]="data.payment" [term]="searchTerm"></ngb-highlight>
                        </td>
                        <td class="status">
                          <span class="badge text-uppercase" [ngClass]="{
                              'bg-warning-subtle text-warning':
                                data.status === 'Pending',
                              'bg-danger-subtle text-danger':
                                data.status === 'Cancelled',
                              'bg-secondary-subtle text-secondary':
                                data.status === 'Inprogress',
                              'bg-info-subtle text-info':
                                data.status === 'Pickups',
                              'bg-primary-subtle text-primary':
                                data.status === 'Returns',
                              'bg-success-subtle text-success':
                                data.status === 'Delivered'
                            }">{{ data.status }}</span>
                        </td>
                        <td>
                          <ul class="list-inline hstack gap-2 mb-0">
                            <li class="list-inline-item" data-bs-toggle="tooltip" data-bs-trigger="hover"
                              ngbTooltip="View" placement="top">
                              <a routerLink="/ecommerce/order-details" class="text-primary d-inline-block">
                                <i class="ri-eye-fill fs-16"></i>
                              </a>
                            </li>
                            <li class="list-inline-item edit" data-bs-toggle="tooltip" data-bs-trigger="hover"
                              ngbTooltip="Edit" placement="top">
                              <a href="javascript:void(0);" data-bs-toggle="modal"
                                class="text-primary d-inline-block edit-item-btn" data-bs-toggle="modal" id="create-btn"
                                data-bs-target="#showModal">
                                <i class="ri-pencil-fill fs-16"></i>
                              </a>
                            </li>
                            <li class="list-inline-item" ngbTooltip="Remove" placement="top" data-bs-toggle="tooltip"
                              data-bs-trigger="hover">
                              <a class="text-danger d-inline-block remove-item-btn" data-bs-toggle="modal"
                                data-bs-target="#deleteOrder">
                                <i class="ri-delete-bin-5-fill fs-16"></i>
                              </a>
                            </li>
                          </ul>
                        </td>
                      </tr>
                      }
                    </tbody>
                  </table>
                </div>
                <div class="row justify-content-md-between align-items-md-center gy-2">
                  <div class="col col-sm-6">
                    <div class="dataTables_info mb-2" id="tickets-table_info" role="status" aria-live="polite">
                      Showing
                      {{ service.startIndex }} to {{ service.endIndex }} of
                      {{ allorderes.length }}
                      entries
                    </div>
                  </div>
                  <!-- Pagination -->
                  <div class="col col-sm-6">
                    <div class="text-sm-right float-end listjs-pagination">
                      <ngb-pagination [collectionSize]="allorderes.length" [(page)]="service.page"
                        [pageSize]="service.pageSize" (pageChange)="changePage()">
                      </ngb-pagination>
                    </div>
                  </div>
                  <!-- End Pagination -->
                </div>
              </ng-template>
            </li>
          </ul>

          <!-- Tab panes -->
          <div class="tab-content text-muted">
            <div [ngbNavOutlet]="nav"></div>
          </div>


        </div>
      </div>
    </div>
    <!--end col-->
  </div>
  <!--end row-->


</div>