<!-- Start Breadcrumbs -->
<app-breadcrumbs title="Bandeja de Pedidos" [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>
<!-- End Breadcrumbs -->

<div class="row">
  <div class="col-lg-12">
    <div class="card" id="orderList">
      <div class="card-header border-0">

        <form [formGroup]="form" class="row g-2 mb-3">
          <div class="col-xxl-3 col-sm-12">
            <label for="iconInput" class="form-label">Código</label>
            <div class="form-icon">
              <input type="text" class="form-control form-control-icon" placeholder="Buscar por código"
                formControlName="code"
                (input)="ValidatorUtil.onInputValidate(code,[Constants.REGEX_NOT_START_BLANK],100)"
                (paste)="ValidatorUtil.onPasteValidate($event,code,[Constants.REGEX_NOT_START_BLANK],100)">
              <i class="ri-search-line search-icon"></i>
            </div>
          </div>

          <div class="col-xxl-3 col-sm-12">
            <label for="iconInput" class="form-label">Nombre Persona</label>
            <div class="form-icon">
              <input type="text" class="form-control form-control-icon" placeholder="Buscar por nombre del cliente"
                formControlName="personfullname"
                (input)="ValidatorUtil.onInputValidate(client,[Constants.REGEX_NOT_START_BLANK],100)"
                (paste)="ValidatorUtil.onPasteValidate($event,client,[Constants.REGEX_NOT_START_BLANK],100)">
              <i class="ri-search-line search-icon"></i>
            </div>
          </div>

          <div class="col-xxl-3 col-sm-12">
            <label for="iconInput" class="form-label">Estado del Pago</label>
            <div class="form-icon">

              <select cl class="form-control form-control-icon" formControlName="statepagoId">
                <option value="">TODOS</option>
                @for (item of stateList; track $index){
                <option [value]="item.id">{{item.name}}</option>
                }

              </select>
              <i class="ri-search-line search-icon"></i>
            </div>
          </div>
          <div class="col-xxl-3 col-sm-12">
            <label for="iconInput" class="form-label">Fecha de creación</label>
            <div class="form-icon">
              <input class="form-control bg-light border-light" type="text" mwlFlatpickr [altInput]="true"
                [convertModelValue]="true" [options]="startOptions" formControlName="orderDate"
                (flatpickrValueUpdate)="onDateChange($event)">
            </div>
          </div>
          <!--end row-->
        </form>

        <div class="d-flex flex-wrap align-items-center justify-content-between">
          <h4 class="card-title mb-2 mb-md-0 flex-grow-1">Lista</h4>
          <div class="d-flex flex-wrap gap-2 justify-content-md-end justify-content-center">
            <a class="btn btn-danger" (click)="clear()">
              <i class="ri-delete-bin-2-line align-bottom me-1"></i>
              Limpiar filtros
            </a>
            <a class="btn btn-primary" (click)="getData()">
              <i class="ri-equalizer-fill align-bottom me-1"></i>
              Aplicar filtros
            </a>
          </div>
        </div>

      </div>

      <div class="card-body pt-0">
        <div>
          <!-- Nav tabs -->
          <ul ngbNav #nav="ngbNav" [activeId]="1" (navChange)="onNavChange($event)"
            class="nav nav-tabs nav-tabs-custom nav-success mb-3">
            <li [ngbNavItem]="1">
              <a ngbNavLink>
                <i class="ri-store-2-fill me-1 align-bottom"></i> Todos los pedidos
              </a>
              <ng-template ngbNavContent>

                @if(isLoader){
                <ngx-skeleton-loader count="5" appearance="line" />
                }@else{
                <app-orders-table [allorderes]="allorderes"></app-orders-table>
                }
              </ng-template>
            </li>
            <li [ngbNavItem]="6">
              <a ngbNavLink>
                <i class=" ri-home-gear-line me-1 align-bottom"></i>
                Preparando Envio
              </a>
              <ng-template ngbNavContent>
                @if(isLoader){
                <ngx-skeleton-loader count="5" appearance="line" />
                }@else{
                <app-orders-table [allorderes]="allorderes"></app-orders-table>
                }
              </ng-template>
            </li>

            <li [ngbNavItem]="3">
              <a ngbNavLink>
                <i class="ri-truck-line me-1 align-bottom"></i> En Tránsito
              </a>
              <ng-template ngbNavContent>
                @if(isLoader){
                <ngx-skeleton-loader count="5" appearance="line" />
                }@else{
                <app-orders-table [allorderes]="allorderes"></app-orders-table>
                }
              </ng-template>
            </li>

            <li [ngbNavItem]="2">
              <a ngbNavLink>
                <i class="ri-checkbox-circle-line me-1 align-bottom"></i>
                Entregado
              </a>
              <ng-template ngbNavContent>
                @if(isLoader){
                <ngx-skeleton-loader count="5" appearance="line" />
                }@else{
                <app-orders-table [allorderes]="allorderes"></app-orders-table>
                }
              </ng-template>
            </li>
          
  
            <li [ngbNavItem]="5">
              <a ngbNavLink>
                <i class="ri-close-circle-line me-1 align-bottom"></i> Cancelado
              </a>
              <ng-template ngbNavContent>
                @if(isLoader){
                  <ngx-skeleton-loader count="5" appearance="line" />
                  }@else{
                  <app-orders-table [allorderes]="allorderes"></app-orders-table>
                  }
              </ng-template>
            </li>
          </ul>

          <!-- Tab panes -->
          <div class="tab-content text-muted">
            <div [ngbNavOutlet]="nav"></div>
          </div>


        </div>
      </div>
    </div>
    <!--end col-->
  </div>
  <!--end row-->


</div>