<!-- Start Breadcrumbs -->
<app-breadcrumbs title="Crear Producto" [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>
<!-- End Breadcrumbs -->
<form [formGroup]="form">

    <div class="row">
        <div class="col-lg-7">
            <div class="card">
                <div class="card-body">
                    <div class="mb-3">
                        <label class="form-label" for="product-title-input">Nombre de Producto</label>
                        <input type="text" class="form-control" formControlName="name">
                    </div>
                    <div>
                        <label>Descripción del Producto</label>
                        <ckeditor [editor]="Editor" [data]="dataEditor">
                        </ckeditor>
                    </div>
                </div>
            </div>
            <!-- end card -->

            <div class="card">
                <div class="card-header">
                    <h5 class="card-title mb-0">Galería de productos
                    </h5>
                </div>
                <div class="card-body">
                    <div class="mb-4">
                        <h5 class="fs-14 mb-1">Imagen del producto </h5>
                        <p class="text-muted">Añadir imagen principal del producto.
                        </p>
                        <div class="text-center">
                            <div class="position-relative d-inline-block">
                                <div class="position-absolute top-100 start-100 translate-middle">
                                    <label for="product-image-input" class="mb-0" placement="right"
                                        ngbTooltip="Cargar imagen">
                                        <div class="avatar-xs">
                                            <div
                                                class="avatar-title bg-light border rounded-circle text-muted cursor-pointer">
                                                <i class="ri-image-fill"></i>
                                            </div>
                                        </div>
                                    </label>
                                    <input class="form-control d-none" value="" id="product-image-input" type="file"
                                        accept="image/png, image/gif, image/jpeg" (change)="fileChange($event)">
                                </div>
                                <div class="avatar-lg">
                                    <div class="avatar-title bg-light rounded">
                                        <img src="" id="product-img" class="avatar-md h-auto" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <h5 class="fs-14 mb-1">Product Gallery</h5>
                        <p class="text-muted">Add Product Gallery Images.</p>
                        <dropzone class="dropzone_sec"  (addedFiles)="onFilesAdded($event)"></dropzone>
                        <!-- end dropzon-preview -->
                    </div>
                </div>
            </div>
            <!-- end card -->

            <!-- end card -->
            <div class="text-end mb-3">
                <button (click)="save()" class="btn btn-success w-sm" [disabled]="disabledSave()">Guardar</button>
            </div>



        </div>
        <!-- end col -->

        <div class="col-lg-5">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title mb-0">Publicar
                    </h5>
                </div>
                <div class="card-body">
                    <div class="mb-3">
                        <label for="choices-publish-status-input" class="form-label">Estado</label>

                        <select class="form-select" id="choices-publish-status-input" data-choices
                            data-choices-search-false formControlName="statusId">
                            <option *ngFor="let item of publishedList" [value]="item.id">
                                {{item.name}}
                            </option>
                            >
                        </select>
                    </div>


                </div>
                <!-- end card body -->
            </div>
            <!-- end card -->


            <div class="card">
                <div class="card-header">
                    <h5 class="card-title mb-0">Categorías de productos </h5>
                </div>
                <div class="card-body">
                    <p class="text-muted mb-2"> Seleccione la categoría del producto
                    </p>
                    <div class="mb-3">
                        <label for="choices-publish-status-input" class="form-label">Tipo</label>

                        <select class="form-select" id="choices-publish-status-input" data-choices
                            data-choices-search-false formControlName="typeId" (change)="onSelectionChangeType($event)">
                            <option value="Published" *ngFor="let item of typesList" [value]="item.id">
                                {{item.name}}
                            </option>
                            >
                        </select>
                    </div>

                    <div class="mb-3">
                        <label for="choices-publish-status-input" class="form-label">Marca</label>

                        <select class="form-select" id="choices-publish-status-input" data-choices
                            data-choices-search-false formControlName="marcaId"
                            (change)="onSelectionChangeMarca($event)">
                            <option *ngFor="let item of marcList" [value]="item.id">
                                {{item.name}}
                            </option>
                            >
                        </select>
                    </div>

                    <div class="mb-3">
                        <label for="choices-publish-status-input" class="form-label">Modelo</label>

                        <select class="form-select" id="choices-publish-status-input" data-choices
                            data-choices-search-false formControlName="modeloId">
                            <option *ngFor="let item of modelList" [value]="item.id">
                                {{item.name}}
                            </option>
                            >
                        </select>
                    </div>


                </div>
                <!-- end card body -->
            </div>
            <!-- end card -->


            <div class="card">
                <div class="card-header">
                    <ul ngbNav #customNav="ngbNav" [activeId]="1"
                        class="nav nav-tabs-custom card-header-tabs border-bottom-0" role="tablist">
                        <li [ngbNavItem]="1" class="nav-item">
                            <a ngbNavLink class="nav-link" data-bs-toggle="tab" role="tab">
                                General Información
                            </a>
                            <ng-template ngbNavContent>
                                <div class="tab-pane active" id="addproduct-general-info" role="tabpanel">

                                    <div class="row">

                                        <div class="col-sm-6">
                                            <div class="mb-3">
                                                <label class="form-label" for="product-price-input">Precio</label>
                                                <div class="input-group mb-3">
                                                    <span class="input-group-text" id="product-price-addon">S/</span>
                                                    <input type="text" class="form-control" id="product-price-input"
                                                        placeholder="Enter price" aria-label="Price"
                                                        aria-describedby="product-price-addon" formControlName="price">

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="mb-3">
                                                <label class="form-label" for="product-discount-input">Stock</label>
                                                <div class="input-group mb-3">
                                                    <span class="input-group-text"
                                                        id="product-discount-addon">unid</span>
                                                    <input type="text" class="form-control" id="product-discount-input"
                                                        placeholder="Enter discount" aria-label="discount"
                                                        aria-describedby="product-discount-addon"
                                                        formControlName="stock">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- end col -->
                                    <!-- end row -->
                                </div>
                            </ng-template>
                        </li>
                        <li [ngbNavItem]="2" class="nav-item">
                            <a ngbNavLink class="nav-link" data-bs-toggle="tab" role="tab">
                                Meta Datos
                            </a>
                            <ng-template ngbNavContent>
                                <div class="tab-pane" id="addproduct-metadata" role="tabpanel">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="mb-3">
                                                <label class="form-label" for="meta-title-input">Meta Nombre</label>
                                                <input type="text" class="form-control" placeholder="Enter meta title"
                                                    id="meta-title-input">
                                            </div>
                                        </div>
                                        <!-- end col -->

                                        <div class="col-lg-6">
                                            <div class="mb-3">
                                                <label class="form-label" for="meta-keywords-input">Meta
                                                    Valor</label>
                                                <input type="text" class="form-control"
                                                    placeholder="Enter meta keywords" id="meta-keywords-input">
                                            </div>
                                        </div>
                                        <!-- end col -->
                                    </div>
                                    <!-- end row -->

                                </div>
                            </ng-template>
                        </li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content pt-4">
                        <div [ngbNavOutlet]="customNav"></div>
                    </div>
                </div>
                <!-- end card header -->
            </div>



        </div>
    </div>
    <!-- end row -->

</form>



<!-- Success Modal -->
<ng-template #successDataModal let-modal>
    <div class="modal-content">
        <div class="modal-body text-center p-5">
            <div class="text-end">
                <button type="button" class="btn-close text-end" data-bs-dismiss="modal" aria-label="Close"
                    (click)="modal.dismiss('Cross click')"></button>
            </div>
            <div class="mt-2">
                <lord-icon src="https://cdn.lordicon.com/tqywkdcz.json" trigger="hover"
                    style="width:150px;height:150px">
                </lord-icon>
                <h4 class="mb-3 mt-4">Your Transaction is Successfull !</h4>
                <p class="text-muted fs-15 mb-4">Successful transaction is the status of operation whose result is the
                    payment of the amount paid by the customer in favor of the merchant.</p>
                <div class="hstack gap-2 justify-content-center">
                    <button class="btn btn-primary">New transaction</button>
                    <button class="btn btn-soft-success"><i class="ri-links-line align-bottom"></i> Copy tracking
                        link</button>
                </div>
            </div>
        </div>
        <div class="modal-footer bg-light p-3 justify-content-center">
            <p class="mb-0 text-muted">You like our service? <a href="javascript:void(0)"
                    class="link-secondary fw-semibold">Invite Friends</a></p>
        </div>
    </div><!-- /.modal-content -->
</ng-template>