<table class="table table-hover table-centered align-middle table-nowrap mb-0">
    <tbody>
        @for ( data of TopSelling; track $index) {
        <tr>
            <td>
                <div class="d-flex align-items-center">
                    <div class="flex-shrink-0 me-2">
                        <img src="{{data.photo}}" alt="" class="avatar-sm p-2" />
                    </div>
                    <div>
                        <h5 class="fs-14 my-1 fw-medium">
                            <a class="text-reset">
                                {{data.name}}
                            </a>
                        </h5>
                        <span class="text-muted">{{data.email}}</span>
                    </div>
                </div>
            </td>

            <td>
                <span class="text-muted">S/ {{data.totalorders}}</span>
            </td>
            <td>
                <h5 class="fs-14 mb-0">{{data.quantityorders}} uni.
                </h5>
            </td>
        </tr>}
    </tbody>
</table>