::ng-deep .small-title {
    font-size: 14px; /* Tamaño del título */
  }
  
  ::ng-deep .small-popup {
    font-size: 12px; /* Tamaño del texto del contenido */
  }
  
  ::ng-deep .small-button {
    font-size: 12px; /* Tamaño del texto del botón */
  }
  