<!-- Start Breadcrumbs -->
<app-breadcrumbs title="Detalle del Pedido" [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>
<!-- End Breadcrumbs -->

<div class="row">
    <div class="col-xl-9">
        <div class="card">
            <div class="card-header">
                @if(isLoader){
                <ngx-skeleton-loader count="2" appearance="line" />
                }@else {
                <div class="d-flex align-items-center">
                    <h5 class="card-title flex-grow-1 mb-0">Pedido {{order.code}}</h5>
                    <div class="flex-shrink-0">
                        <a routerLink="/invoices/details" class="btn btn-success btn-sm"><i
                                class="ri-download-2-fill align-middle me-1"></i> Invoice</a>
                    </div>
                </div>
                }

            </div>
            <div class="card-body">
                <div class="table-responsive table-card">
                    <table class="table table-nowrap align-middle table-borderless mb-0">
                        <thead class="table-light text-muted">
                            <tr>
                                <th scope="col">Detalle del producto</th>
                                <th scope="col">Precio</th>
                                <th scope="col">Cantidad</th>
                                <th scope="col" class="text-end">Total </th>
                            </tr>
                        </thead>
                        <tbody>
                            @if(isLoader){
                            <tr>
                                <td><ngx-skeleton-loader count="1" appearance="line" /></td>
                                <td><ngx-skeleton-loader count="1" appearance="line" /></td>
                                <td><ngx-skeleton-loader count="1" appearance="line" /></td>
                                <td><ngx-skeleton-loader count="1" appearance="line" /></td>

                            </tr>
                            }
                            @for (item of order.listdetails; track $index) {
                            <tr>

                                <td>
                                    <div class="d-flex">
                                        <div class="flex-shrink-0 avatar-sm bg-light rounded p-1">
                                            <img [src]="item.productImgurl" [alt]="item.productName"
                                                class="img-fluid d-block">
                                        </div>
                                        <div class="flex-grow-1 ms-3">
                                            <h5 class="mb-0 fs-12">
                                                <a [routerLink]="'/ecommerce/product-detail/'+item.productId"
                                                    class="link-primary">{{item.productName}}</a>
                                            </h5>
                                            <p class="text-muted mb-0 small">Tipo:
                                                <span class="fw-medium">{{item.productTypeName}}</span>
                                            </p>
                                            <p class="text-muted mb-0 small">Marca:
                                                <span class="fw-medium">{{item.productMarcaName}}</span>
                                            </p>
                                        </div>
                                    </div>
                                </td>
                                <td>{{item.productPrice}}</td>
                                <td>{{item.quantity}}</td>
                                <td class="fw-medium text-end">
                                    {{item.total | number:'1.2-2'}}
                                </td>
                            </tr>

                            }
                            <tr class="border-top border-top-dashed">
                                <td colspan="3"></td>
                                <td colspan="2" class="fw-medium p-0">
                                    <table class="table table-borderless mb-0">
                                        <tbody>
                                            <tr>
                                                <td class="pt-2 pb-0">IGV
                                                    <span class="text-muted pt-0 pb-0">(18%)</span> :
                                                </td>
                                                <td class="text-end pt-2 pb-0">{{order.igv | number:'1.2-2'}}</td>
                                            </tr>
                                            <tr>
                                                <td class="pt-0 pb-0">Sub Total :</td>
                                                <td class="text-end pt-0 pb-0">{{order.subtotal | number:'1.2-2'}}</td>
                                            </tr>

                                            <tr class="border-top border-top-dashed">
                                                <th scope="row" class="pt-0 pb-2">Total (PEN) :</th>
                                                <th class="text-end pt-0 pb-2" scope="col">
                                                    {{order.total |number:'1.2-2'}}
                                                </th>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!--end card-->
        <div class="card">
            <div class="card-header">
                <div class="d-sm-flex align-items-center">
                    <h5 class="card-title flex-grow-1 mb-0">Trazabilidad</h5>
                    <div class="flex-shrink-0 mt-2 mt-sm-0">
                        <div class="d-flex gap-1">
                            <a href="javascript:void(0);" class="btn btn-soft-info btn-sm mt-2 mt-sm-0"
                                (click)="openModal(content)"><i class="ri-map-pin-line align-middle me-1">
                                </i> Cambiar dirección</a>
                            <a href="javascript:void(0);" class="btn btn-soft-danger btn-sm mt-2 mt-sm-0"><i
                                    class="mdi mdi-archive-remove-outline align-middle me-1"></i>
                                Cancelar Pedido</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="profile-timeline order-status">
                    @if (isLoader) {
                    <ngx-skeleton-loader count="5" appearance="line" />
                    }@else {
                    <div ngbAccordion #accordion="ngbAccordion">
                        <div ngbAccordionItem [collapsed]="false">
                            <h2 ngbAccordionHeader>
                                <button ngbAccordionButton class="accordion-button p-2 shadow-none"
                                    aria-expanded="true">
                                    <div class="d-flex align-items-center">
                                        <div class="flex-shrink-0 avatar-xs">
                                            <div class="avatar-title bg-success rounded-circle">
                                                <i class="ri-shopping-bag-line"></i>
                                            </div>
                                        </div>
                                        <div class="flex-grow-1 ms-3">
                                            <h6 class="fs-16 mb-0">Pedido realizado </h6>
                                        </div>
                                    </div>
                                </button>
                            </h2>
                            <div ngbAccordionCollapse>
                                <div ngbAccordionBody class=" ms-2 ps-5 pt-0">
                                    <ng-template>
                                        <h6 class="mb-1">Se ha realizado un pedido.</h6>
                                        <p class="text-muted">
                                            {{ order.datecreate| date:'d \'de\' MMMM \'de\' y, h:mm a'}}</p>
                                    </ng-template>
                                </div>
                            </div>
                        </div>
                        <div ngbAccordionItem id="static-2" [collapsed]="false">
                            <div ngbAccordionHeader>
                                <button ngbAccordionButton class="accordion-button p-2 shadow-none"
                                    aria-expanded="false">
                                    <div class="d-flex align-items-center">
                                        <div class="flex-shrink-0 avatar-xs">
                                            <div class="avatar-title bg-success rounded-circle">
                                                <i class="mdi mdi-gift-outline"></i>
                                            </div>
                                        </div>
                                        <div class="flex-grow-1 ms-3">
                                            <h6 class="fs-16 mb-1">Preparando el Envío </h6>
                                        </div>
                                    </div>
                                </button>
                            </div>
                            <div ngbAccordionCollapse>
                                <div ngbAccordionBody class="accordion-body ms-2 ps-5 pt-0">
                                    <h6 class="mb-1">Prepara los artículos y envíalos </h6>
                                    <p class="text-muted mb-0">
                                        {{ order.datecreate| date:'d \'de\' MMMM \'de\' y, h:mm a'}}
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div ngbAccordionItem id="static-3" [collapsed]="!order.dateenvio"
                            [disabled]="!order.dateenvio">
                            <div ngbAccordionHeader>
                                <button ngbAccordionButton class="accordion-button p-2 shadow-none"
                                    aria-expanded="false">
                                    <div class="d-flex align-items-center">
                                        <div class="flex-shrink-0 avatar-xs">
                                            <div class="avatar-title bg-success rounded-circle" [ngClass]="{'bg-success': order.dateenvio,
                                                  'bg-light text-success': !order.dateenvio,
                                                }">
                                                <i class="ri-truck-line"></i>
                                            </div>
                                        </div>
                                        <div class="flex-grow-1 ms-3">
                                            <h6 class="fs-16 mb-1">En Tránsito</h6>
                                        </div>
                                    </div>
                                </button>
                            </div>
                            <div ngbAccordionCollapse>
                                <div ngbAccordionBody class="accordion-body ms-2 ps-5 pt-0">
                                    <h6 class="fs-12">RQK Logistics - MFDS1400457854</h6>
                                    <h6 class="mb-1">Pedido en camino</h6>
                                    <p class="text-muted mb-0">
                                        {{ order.dateenvio| date:'d \'de\' MMMM \'de\' y, h:mm a'}}
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div ngbAccordionItem [disabled]="true" id="static-5">
                            <div ngbAccordionHeader>
                                <a class="accordion-button p-2 shadow-none" data-bs-toggle="collapse"
                                    href="javascript:void(0);" aria-expanded="false">
                                    <div class="d-flex align-items-center">
                                        <div class="flex-shrink-0 avatar-xs">
                                            <div class="avatar-title bg-light text-success rounded-circle">
                                                <i class="mdi mdi-package-variant"></i>
                                            </div>
                                        </div>
                                        <div class="flex-grow-1 ms-3">
                                            <h6 class="fs-14 mb-0">Entregado</h6>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div ngbAccordionCollapse>
                                <div ngbAccordionBody class="accordion-body ms-2 ps-5 pt-0">
                                    <h6 class="fs-14">RQK Logistics - MFDS1400457854</h6>
                                    <h6 class="mb-1">Your item has been shipped.</h6>
                                    <p class="text-muted mb-0">Sat, 18 Dec 2021 - 4.54PM</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    }
                </div>
            </div>
        </div>
        <!--end card-->
    </div>
    <!--end col-->
    <div class="col-xl-3">

        <div class="card">
            <div class="card-header">
                <div class="d-flex">
                    <h5 class="card-title flex-grow-1 mb-0">Detalle del cliente</h5>
                    <div class="flex-shrink-0">
                        <a href="javascript:void(0);" routerLink="/pages/profile" class="link-secondary">
                            Ver Perfil
                        </a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <ul class="list-unstyled mb-0 vstack gap-3">
                    <li>
                        <div class="d-flex align-items-center">
                            <div class="flex-shrink-0">
                                @if(isLoader){
                                <ngx-skeleton-loader count="1" appearance="circle" />
                                }@else {
                                <img [src]="order.clientPhoto" alt="" class="avatar-sm rounded">
                                }
                            </div>
                            <div class="flex-grow-1 ms-3">
                                @if(isLoader){
                                <ngx-skeleton-loader count="2" appearance="line" />
                                }@else {
                                <h6 class="fs-14 mb-1">{{order.clientFullname}}</h6>
                                <p class="text-muted mb-0">Cliente</p>
                                }

                            </div>
                        </div>
                    </li>
                    <li><i class="ri-mail-line me-2 align-middle text-muted fs-16"></i>
                        {{order.clientEmail}}
                    </li>
                    <li><i class="ri-phone-line me-2 align-middle text-muted fs-16"></i>{{order.phone}}</li>
                </ul>
            </div>
        </div>
        <!--end card-->
        <div class="card">
            <div class="card-header">
                <h5 class="card-title mb-0">
                    <i class="ri-map-pin-line align-middle me-1 text-muted"></i>
                    Dirección de Envío
                </h5>
            </div>
            <div class="card-body">
                <ul class="list-unstyled vstack gap-2 fs-13 mb-0">
                    @if(isLoader){
                    <ngx-skeleton-loader count="4" appearance="line" />
                    }@else {
                    <li class="fw-medium fs-14">{{order.personfullname}}</li>
                    <li>cel: {{order.phone}}</li>
                    <li>{{order.address}}</li>
                    <li>{{order.distritoProvinceName}} - {{order.distritoName}}</li>
                    <li>{{order.distritoProvinceDepartmentName}}</li>
                    }

                </ul>
            </div>
        </div>
        <!--end card-->

        <div class="card">
            <div class="card-header">
                <h5 class="card-title mb-0">
                    <i class="ri-secure-payment-line align-bottom me-1 text-muted"></i>
                    Detalles de pago
                </h5>
            </div>
            <div class="card-body">
                <div class="d-flex align-items-center mb-2">
                    <div class="flex-shrink-0">
                        <p class="text-muted mb-0">Transacción:</p>
                    </div>
                    <div class="flex-grow-1 ms-2">
                        <h6 class="mb-0">{{order.codetransaction}}</h6>
                    </div>
                </div>
                <div class="d-flex align-items-center mb-2">
                    <div class="flex-shrink-0">
                        <p class="text-muted mb-0">Método de pago:</p>
                    </div>
                    <div class="flex-grow-1 ms-2">
                        <h6 class="mb-0">{{order.paymentmethod}}</h6>
                    </div>
                </div>
                <div class="d-flex align-items-center mb-2">
                    <div class="flex-shrink-0">
                        <p class="text-muted mb-0">Titular:</p>
                    </div>
                    <div class="flex-grow-1 ms-2">
                        <h6 class="mb-0">{{order.cardholder}}</h6>
                    </div>
                </div>
                <div class="d-flex align-items-center mb-2">
                    <div class="flex-shrink-0">
                        <p class="text-muted mb-0">Número:</p>
                    </div>
                    <div class="flex-grow-1 ms-2">
                        <h6 class="mb-0">{{order.numbercard}}</h6>
                    </div>
                </div>
                <div class="d-flex align-items-center">
                    <div class="flex-shrink-0">
                        <p class="text-muted mb-0">Importe total:</p>
                    </div>
                    <div class="flex-grow-1 ms-2">
                        <h6 class="mb-0">S/ {{order.totalmount}}</h6>
                    </div>
                </div>
            </div>
        </div>
        <!--end card-->
    </div>
    <!--end col-->
</div>
<!--end row-->

<ng-template #content role="document" let-modal>
    <div class="modal-header">
        <h5 class="modal-title" id="addAddressModalLabel">Address</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
            (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <div>
            <div class="mb-3">
                <label for="addaddress-Name" class="form-label">Name</label>
                <input type="text" class="form-control" id="addaddress-Name" placeholder="Enter Name">
            </div>

            <div class="mb-3">
                <label for="addaddress-textarea" class="form-label">Address</label>
                <textarea class="form-control" id="addaddress-textarea" placeholder="Enter Address" rows="2"></textarea>
            </div>

            <div class="mb-3">
                <label for="addaddress-Name" class="form-label">Phone</label>
                <input type="text" class="form-control" id="addaddress-Name" placeholder="Enter Phone No.">
            </div>

            <div class="mb-3">
                <label for="state" class="form-label">Address Type</label>
                <select class="form-select" id="state" data-plugin="choices">
                    <option value="homeAddress">Home (7am to 10pm)</option>
                    <option value="officeAddress">Office (11am to 7pm)</option>
                </select>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-light" data-bs-dismiss="modal"
            (click)="modal.close('Close click')">Close</button>
        <button type="button" class="btn btn-success" data-bs-dismiss="modal"
            (click)="modal.dismiss('Cross click')">Save</button>
    </div>
</ng-template>